<h2>About</h2>
<p>I am a data scientist and software developer with a background in agriculture and remote sensing. My work combines remote sensing, agricultural modeling, and social science methods to enhance our understanding of the interactions between farm decision making, crop health, and the environment. I’m currently a postdoctoral scholar at Tufts University developing algorithms for predicting Brazilian soybean planting dates and yields in order to quantify the impacts of climate change on soy production capacity. </p>

<p>
  My curriculum vitae can be found <a href="graham_jeffries_cv.pdf">here</a>.
</p>

<hr />

<script type="text/javascript" language="javascript">
  // Email obfuscator script 2.1 by Tim Williams, University of Arizona
  // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
  // This code is freeware provided these four comment lines remain intact
  // http://www.jottings.com/obfuscator/

  { coded = "bylklW.y.6QVVyzQg@bWlzm.j9W"
    key = "vodz6Mf8gQL1cCkm4IBP7KYaZyAS9EGTDVFbUuijxqWseNwOphl2HnXJ30Rtr5"
    shift=coded.length
    link=""
    for (i=0; i<coded.length; i++) {
      if (key.indexOf(coded.charAt(i))==-1) {
        ltr = coded.charAt(i)
        link += (ltr)
      }
      else {
        ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
        link += (key.charAt(ltr))
      }
    }
  document.write("<a href='mailto:"+link+"'><span class='fa fa-envelope fa-2x' alt="+
                 link+" title="+link+"></span></a>")
}
</script>
<noscript>Sorry, you need Javascript on to email me.</noscript>

<a href="http://www.linkedin.com/pub/graham-jeffries/22/657/903">
  <span class="fa fa-linkedin fa-2x"></span></a>
<a href="http://stackoverflow.com/users/1096991/metasequoia">
  <span class="fa fa-stack-overflow fa-2x"></span></a>
<a href="http://github.com/grahamjeffries"><span class="fa fa-github fa-2x"></span></a>



